$footer-padding: 1rem 1rem 3rem !default;

$primary: #0D9BC8;
$title-color: rgba(32, 44, 46, 0.43);

@import '../../node_modules/bulma/bulma.sass';

.main-layout {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: minmax(50px, auto);
	grid-template-areas:
	  "h h h h h h h h h h"
	  "a c c c c c c c c b"
	  ". c c c c c c c c .";

	.main-layout-item.header {
		grid-area: h;
		background-color: #0D9BC8;
	}
	.main-layout-item.header1 {
		grid-area: a;
		background-color: #0D9BC8;
	}
	.main-layout-item.header2 {
		grid-area: b;
		background-color: #0D9BC8;
	}

	.main-layout-item.content {
		padding: 1em 1em 0em 1em;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		grid-area: c;
		min-height: 60vh;
		margin-bottom: 5%;
	}
}

.boarding-start {
	margin: 0 3em 0 3em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.item {
		flex: 1;
		width: 250px;
		margin-bottom: 1em;
		max-width: 99%;
	}
}

.step-page {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.step-actions {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-bottom: 5%;

		div {
			margin-left: 0.5em;
		}

		div.finish-later {
			margin-right: auto;
		}
	}
}

.step-display {
	margin: 1em 0 2em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.step-items {
	display: grid;
	grid-template-columns: 5fr 1fr;

	.step-item-actions {
		display: flex;
		.step-item-action{
			cursor: pointer;
			margin-left: 1em;
		}
	}
}

.progress-page {
	.progress-actions {
		display: flex;
		justify-content: flex-end;
	}
}

@media all and (max-width: 600px) {
	.step-actions {
	  	flex-flow: column wrap;
		align-items: center;
		
		div {
			margin-top: 8px;
			margin-right: 8px;
		}

		div.finish-later {
			margin: auto;
		}
	}
}	