$footer-padding: 1rem 1rem 3rem !default;

@import '../../node_modules/bulma/bulma.sass';

.app-content {
	min-height: 60vh;
}

.boarding-start {
	margin: 0 3em 0 3em;
	width: 100%;
	min-height: 150px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	.item {
		max-width: 150px;
		flex: 1;
	}

	.item.field {
		max-width: 300px;
	}
}

.step-display {
	margin: 1em 0 2em 0;
}

.step-items {
	display: grid;
	grid-template-columns: 2fr 1fr;

	.step-item-actions {
		display: flex;
		.step-item-action{
			cursor: pointer;
			margin-left: 1em;
		}
	}
}
